.app {
  padding: 20px 30px;
}
.swap-area {
  width: fit-content;
  padding: 10px;
  margin-top: 30px;
  border-radius: 20px;
  border: 1px solid gray;
}
.coin-area {
  display: flex;
}
.balance-area {
  margin-left: auto;
}
.input {
  width: 400px;
}
.swap-button {
  margin-top: 10px;
}